.cartCon{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.cartCon img{
    width: 40%;
    height: 20%;
    border-radius: 20px;
}

.cRight{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.delbt{
    font-size: 40px;
    cursor: pointer;
    opacity: 80%;
}

.delbt:hover{
    opacity: 100%;
}